<?xml version="1.0" encoding="UTF-8"?>
<root>
	<layout>
		<Node label="业务管理" collapse="0" >
			<Node label="档案接收" img=":/new/icon/Icon/FileReceive.png" count="40"></Node>
			<Node label="档案发送" img=":/new/icon/Icon/FileOut.png" count="20"></Node>
			<Node label="档案盘库" img=":/new/icon/Icon/Inventory.png" count="150"></Node>
			<Node label="档案借阅" img=":/new/icon/Icon/Borrow.png" count="160"></Node>
			<Node label="档案归还" img=":/new/icon/Icon/Return.png" count="300"></Node>
		</Node>
		<Node label="档案管理" collapse="0">
			<Node label="档案统计"  img=":/new/icon/Icon/ArvCencus.png"></Node>
			<Node label="档案查询"  img=":/new/icon/Icon/Search.png"></Node>
			<Node label="标签管理"  img=":/new/icon/Icon/LabelManage.png"></Node>
			<Node label="业务查询"  img=":/new/icon/Icon/ServiceSearch.png"></Node>
		</Node>
		<Node label="数据库管理" collapse="0">
			<Node label="数据备份"  img=":/new/icon/Icon/BackUp.png"></Node>
			<Node label="数据还原"  img=":/new/icon/Icon/Reduction.png"></Node>
		</Node>
		<Node label="资料管理" collapse="0">
			<Node label="字典管理"  img=":/new/icon/Icon/DicManage.png"></Node>
			<Node label="字段管理"  img=":/new/icon/Icon/FieldManage.png"></Node>
		</Node>
		<Node label="设备管理" collapse="0">
			<Node label="设备配置"  img=":/new/icon/Icon/SystemSetting.png"></Node>
			<Node label="设备控制"  img=":/new/icon/Icon/SystemControl.png"></Node>
		</Node>
		<Node label="系统管理" collapse="0">
			<Node label="用户管理"  img=":/new/icon/Icon/UserManage.png"></Node>
			<Node label="角色管理"  img=":/new/icon/Icon/RoleManage.png"></Node>
		</Node>
	</layout>
</root>